.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #e0e0e0;
}

.image {
  width: 80px;
  height: 80px;
}

.bar {
  align-items: center;
  background-color: blue;
  color: blue;
}

button {
  padding: 7px 20px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 201, 53);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: hsl(155, 93%, 30%);
  color: hsl(0, 0%, 100%);
  box-shadow: #acabab 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
